<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用注解注入properties中的值 -->
    <bean id="settings" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations" value="classpath:application.properties"/>
    </bean>

    <import resource="spring-datasource.xml"/>
    <import resource="spring-web.xml"/>

    <bean id="context" class="mw.ankara.fur.Context"/>

    <context:component-scan base-package="mw.ankara.fur.controller,mw.ankara.fur.service"/>

    <!-- Support JSON -->
    <bean id="messageConverters" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters" ref="messageConverters"/>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
        <property name="messageConverters" ref="messageConverters"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

</beans>
